{% extends "layout.html" %}
{% block body %}
{% if showfilledform == False %}
    <form action="{{ url_for('addWatchedMovie') }}" method="post">
        <dl>
            <dt>Enter the Movie Name:</dt>
            <dd><input type="text" name="Movie"></dd>
        </dl>
        <input type="submit" value="Search">
	</form>
{% endif %}

{% if showfilledform == True %}
    <h2> Searched Keyword : {{keyword}}</h2>
<br><br><br>
 <h1 style="text-align:center"> Select Movie</h1>

  <!-- <div class="metanav"> -->
  {% if Movielist|length ==0 %}
  <p>No such Movie exist!(I dont mean in the world, just not in our database! Somry!)</p>
  {% endif %}
  <!-- </div> -->
  <!-- here i need to add link where movie relation will be added to db -->
  <form action="{{ url_for('handleWatchedMovie') }}" method="post">
    <dl>
        {% for record,userRating in Movielist|zip(userRating) %}

        <div class="movie">
            {% if userRating is not none %}
                <dd><input type="checkbox" name ="selectedMovie" value = {{record.id}} checked>Choose this one</dd>
            {% else %}
                <dd><input type="checkbox" name ="selectedMovie" value = {{record.id}}>Choose this one</dd>
            {% endif %}
            <br>
            <div class="flash">
                <h4>Movie Name : {{ record.title }}</h4>
                <h4>Year of Release : {{ record.year }}</h4>
                <h4>Critics Rating : {{ record.Rating }}</h4>
                <h4>Movie Image : "No image available now, sorry not sorry!"</h4>
            </div>
            <br>
            <dt>Give rating </dt>
            {% if userRating is not none %}
                <dd><input type="number" step=0.5 name={{record.id}} min=0 max=5 value={{userRating}}></dd>
            {% else %}
                <dd><input type="number" step=0.5 name={{record.id}} min=0 max=5></dd>
            {% endif %}
        </div>
        {% endfor %}
    </dl>
    <input type="submit" name="Submit" value="Submit">
    <input type="submit" name="Submit" value="Submit and add Another">
</form>



{% endif %}

{% endblock %}