<div class="row">
    <div class="column">
        <table id="{{category}}1" class="display cell-border" style="width:100%">
            <caption style="text-align: center;"><strong><h3>Avaialable options</h3></strong></caption>
            <thead>
                <th>
                    ID
                </th>
                <th>
                    {{category|title}}
                </th>
            </thead>
            <tbody>
                {% for value in values.not_selected %}
                <tr>
                    <td>
                        {{value.id}}
                    </td>
                    <td>
                        {% if (category == "actor") or (category == "director")%}
                        {{value.get("name")}}
                        {% else %}
                        {{value.get(category)}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <table id="{{category}}2" class="display" style="width:100%">
            <caption style="text-align: center;"><strong><h3>Your selections</h3></strong></caption>
            <thead>
                <th>
                    ID
                </th>
                <th>
                    {{category|title}}
                </th>
            </thead>
            <tbody>
                {% for value in values.selected %}
                <tr>
                    <td>
                        {{value.id}}
                    </td>
                    <td>
                        {% if (category == "actor") or (category == "director")%}
                        {{value.get("name")}}
                        {% else %}
                        {{value.get(category)}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>