{% extends "layout.html" %}
{% block body %}
<div class="page">
  <h1>Add Movie</h1>
    <br><br>
	<form action="{{ url_for('createMovie') }}" method="post" id="prefForm">
            <label><h2>Enter the movie Name:</h2></label>
            <input type="text" name="title">
            <br>
            <label><h2>Year of Release:</h2></label>
            <input type="number" step=1 min=1950 max=9999 name="year">
            <br>
            <label><h2>Critics Rating:</h2></label>
            <input type="number" step=0.01 min=0 max=10 name="criticsRating">
            {% include "2table.html" %}

            <button type="button" onclick="formF()">Submit</button>
	</form>
</div>
    {% endblock %}