{% extends "layout.html" %}
{% block body %}
<div style="padding-right: 33px;background-image: url('../static/images/light.jpg'); background-size: cover; border: none;  height: 910px;overflow-y: scroll;">
  <br> <br>
<div class="page" style="opacity: 0.7; background-color: black; border: 5px solid #ffcccc;">

<!-- <div class="page"> -->
  <!-- <div class="metanav"> -->
  {% if moviesList|length ==0 %}
  <p>No such Movie exist!(I dont mean in the world, just not in our database! Somry!)</p>
  {% endif %}
    <dl>
        {% for record in moviesList %}

        <div class="movie">
            <div class="flash myflex-container">
                <div class="myflex-child">
                <h4>Movie Name : {{ record.title }}</h4>
                <h4>Year of Release : {{ record.year }}</h4>
                <h4>Critics Rating : {{ record.criticsRating }}</h4>
                </div>

                <div class="myflex-child">
                {% if record.isURL ==0 %}
                  <!-- <h4>Movie Image: </h4> -->
                  <img src="../static/images/{{record.imageURL}}" alt={{record.title}} style="height: 200px; width: 300px">
                {% else %}
                  <!-- <h4>Movie Image: </h4> -->
                  <img src='{{record.imageURL}}' alt={{record.title}} style="height: 200px; width: 300px">
                {% endif %}
                </div>
                <!-- <h4>Movie Image : <img src='{{record.imageURL}}' alt={{record.title}} style="height: 200px; width: 300px"></h4> -->
            </div>
        </div>
        {% endfor %}
    </dl>
    </div>
  </div>
{% endblock %}

