{% extends "layout.html" %}
{% block body %}
<div class="page">
<h1 style="text-align:center"> Display Movie</h1>
<!-- <div class="metanav"> -->
  {% if Movielist|length ==0 %}
  <p>No such Movie exist!(I dont mean in the world, just not in our database! Shoury!)</p>
  {% endif %}
{% for record in Movielist %}

    <div class="movie">
      <!-- <dd><input type="checkbox" name ="selectedMovie" value = {{record.id}}>Choose this one</dd> -->
      <br>
      <a href="{{ url_for('movieDetails', id=record.id) }}">
        <div class="flash">
            <h4>Movie Name : {{ record.title }}</h4>
            <h4>Year of Release : {{ record.year }}</h4>
            <h4>Critics Rating : {{ record.Rating }}</h4>
            <h4>Movie Image : "No image available now, sorry not sorry!"</h4>
        </div>
      </a>
      <br>
    </div>
{% endfor %}
</div>
{% endblock %}
