{% extends "layout.html" %}
{% block body %}
<div class="page">
  <!-- <div class="metanav"> -->
  {% if moviesList|length ==0 %}
  <p>No such Movie exist!(I dont mean in the world, just not in our database! Somry!)</p>
  {% endif %}
    <dl>
        {% for record in moviesList %}

        <div class="movie">
            <div class="flash">
                <h4>Movie Name : {{ record.title }}</h4>
                <h4>Year of Release : {{ record.year }}</h4>
                <h4>Critics Rating : {{ record.criticsRating }}</h4>
                <h4>Movie Image : "No image available now, sorry not sorry!"</h4>
            </div>
        </div>
        {% endfor %}
    </dl>
    </div>
{% endblock %}

