<!doctype html>
<title>Displaying your selected Actors:</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Actors List:</h1>
  <!-- <div class="metanav"> -->
  {% if len(Actorlist) ==0 %}
  <p>No such actors exist!(I dont mean in the world, just not in our database! Somry!)</p>
  {% endif %}
  <!-- </div> -->
  {% for Actor in Actorlist %}
    <div class="flash">
        <h1>Actor Name : {{ Actor[name] }}</h1>
        <h1>Actor Image : "No image available now, sorry not sorry!"</h1>
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>