{% extends "layout.html" %}
{% block body %}
<div style="padding-right: 33px;background-image: url('../static/images/simple.jpg'); background-size: cover; border: none;  height: 920px;overflow-y: scroll;">
  <br> <br>
<div class="page" style="opacity: 0.9; background-color: black; border: 5px solid #ffcccc;">

<h2 style="color: #ffcccc;">Your Friends: </h2>
{% if friends|length > 0 %}
<table id="friends" class="display" style="width:100%">
    <thead>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
    </thead>
    <tbody>
        {%for user in friends%}
        <tr>
            <td>
                <a href="{{ url_for('profile', email=user.email) }}">{{user.name}}</a>
            </td>
            <td>
                {{user.email}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h3>No friends found</h3>
{% endif %}


<br><br><br>
<h2 style="color: #ffcccc;">Friend Requests Sent: </h2>
{% if sendFriendRequests|length > 0 %}
<ol>
    {% for item in sendFriendRequests %}
    <li>
        <h4>Name : <a href="{{ url_for('profile', email=item.email) }}">{{item.name}}</a></h4>
        <h4>Email: {{item.email}}</h4>
    </li>
    {% endfor %}
</ol>
{% else %}
    <h3>No friend requests sent</h3>
{% endif %}

<br><br><br>
<h2 style="color: #ffcccc;">Friend Requests Received: </h2>
{% if receivedFriendRequests|length > 0 %}
<ol>
    {% for item in receivedFriendRequests %}
    <li>
        <h4>Name : <a href="{{ url_for('profile', email=item.email) }}">{{item.name}}</a></h4>
        <h4>Email: {{item.email}}</h4>

        <div class="button-container">
            <form action="{{ url_for('acceptFriendRequest') }}" method="post">
                <div>
                    <input type="hidden" name="acceptfriendRequest" value={{item.email}}>
                    <input type="submit" value="accept">
                </div>
            </form>
            <form action="{{ url_for('acceptFriendRequest') }}" method="post">
                <div>
                    <input type="hidden" name="rejectfriendRequest" value={{item.email}}>
                    <input type="submit" value="reject">
                </div>
            </form>
        </div>

    </li>
    {% endfor %}
</ol>
{% else %}
    <h3>No friend requests received</h3>
{% endif %}

<script>
    $(document).ready(function() {
        $('#friends').DataTable();
    } );
</script>
</div>
</div>
{% endblock %}