{% extends "layout.html" %}
{% block body %}
<div style="padding-right: 33px;background-image: url('../static/images/3.jpg'); background-size: cover; background-size: 100% 100%; margin-bottom: 0px; margin-top: -10px; border: none; height: 950px;">
  <br> <br>
<div class="page" style="background-color: black; width: 500px; height: 200px; border: black; opacity: 0.5;color: white;" >
  <center><h2>Login</h2></center>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
          {% for message in messages %}
              <p>{{ message }}</p>
          {% endfor %}
    {% endif %}
  {% endwith %}

  {% if admin %}
  <form action="{{ url_for('admin') }}" method="post">
  {% else %}
	<form action="{{ url_for('login') }}" method="post">
  {% endif %}
  <br>
  <center>
        <dl>
            <dt>Email:</dt>
            <dd><input style="color:black;" type="text" name="email"></dd>
            <br>
            <dt>Password:</dt>
            <dd><input style="color:black;" type="password" name="password"></dd>

        </dl>
        <!-- <br> -->
        <input type="submit" value="Login" style="color: black;">
        </center>
	</form>
</div>
</div>
  {% endblock %}