{% extends "layout.html" %}
{% block body %}
<p>
  <h3>Name    : {{name}}</h3>
  <h3>Email   : {{email}}</h3>
</p>

<h3>Public Watched History</h3>
{% if movies_watched_public|length > 0 %}
<div class="posts">
    {% for item in movies_watched_public %}
        <li>
            <a href="{{ url_for('movie', id=item.id) }}">{{item.name}}</a>
        </li>
        {% if session.email == email %}
        <li>
          <a href="{{ url_for('recommendMovie', id=item.id) }}">Recommended to a friend</a>
        </li>
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <h5>No movies watched yet</h5>
{% endif %}


{% if (session.email)%}
  {% if (session.email != email)%}
    {% if isFriend == True %}
        {% if movies_recommended|length > 0 %}
            <ol>
                {% for item in movies_recommended %}
                    <li>
                        <a href="{{ url_for('movie', id=item.id) }}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ol>
        {% else %}

            <p>No movies recommended yet</p>
            <form action="{{ url_for('deleteFriend') }}" method="post">
                <input type="hidden" value="{{email}}" name="email">
                <input type="submit" value="Un-Friend">
            </form>
        {% endif %}
    {% else %}
        <form action="{{ url_for('addFriend') }}" method="post">
            <input type="hidden" value="{{email}}" name="email">
            <input type="submit" value="Add Friend">
        </form>
    {% endif %}
  {% else %}
  <div>
    <p style="text-align:right"><a href ="{{url_for('choosePreference')}}"><button>Edit Preferences</button></a></p>
    <h3>Your Prefrences are:</h3>
  </div>

    {% for key, value in preferences.items() %}
    <div class="panel-group" id="accordion" style="margin-top: 30px">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 60px;  text-align: left;">
          <h2 class="panel-title" >
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{key}}" style="font-size: x-large;">
            {{key}}</a>
          </h2>
        </div>
        <div class="panel-collapse collapse" id="collapse{{key}}">
          <div class="panel-body">
            {% for item in value %}
              <div class="panel panel-default">
                <div class="panel-body">{{item}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% for item in movies_watched_full %}
    {{item.name}}
        {% if item in movies_watched_public %}
            <dd><input type="checkbox" name ="genre" value = {{item.id}} checked></dd>
        {% else %}
            <dd><input type="checkbox" name ="genre" value = {{item.id}}></dd>
        {% endif %}

    {% endfor %}



  {% endif %}
{% endif %}
  {% endblock %}