{% extends "layout.html" %}
{% block body %}
<div style="padding-right: 33px;background-image: url('../static/images/simple.jpg'); background-size: cover; border: none;  height: 950px;overflow-y: scroll;margin-top: -10px;">
  <br> <br>
<div class="page" style="opacity: 0.8; background-color: black; border: 5px solid #ffcccc;">

<p>
  <h3>Name    : {{name}}</h3>
  <h3>Email   : {{email}}</h3>
</p>

<h3>Watched History</h3>
{% if movies_watched_public|length > 0 %}
    {% for record in movies_watched_public %}
      {% if (session.email != email and record.isPublic) %}
      <div class="movie">
        <div class="flash myflex-container">
            <div class="myflex-child">
              <h4>Movie Name : {{ record.title }}</h4>
              <h4>Year of Release : {{ record.year }}</h4>
              <h4>Critics Rating : {{ record.criticsRating }}</h4>
              <h4>User's Rating : {{record.userRating}}</h4>
            </div>
            <div class="myflex-child">
              {% if record.isURL ==0 %}
                <!-- <h4>Movie Image: </h4> -->
                <!-- <img src="{{url_for('static', filename='{{record.imageURL}}' ) }}" alt={{record.title}} style="height: 200px; width: 300px"> -->
                <img src="../static/images/{{record.imageURL}}" alt={{record.title}} style="height: 200px; width: 300px">
              {% else %}
                <!-- <h4>Movie Image: </h4> -->
                <img src='{{record.imageURL}}' alt={{record.title}} style="height: 200px; width: 300px">
              {% endif %}
              </div>
        </div>
      </div>
      {% elif (session.email == email) %}
        <div class="movie">
          <div class="flash myflex-container">
              <div class="myflex-child">
                <h4>Movie Name : {{ record.title }}</h4>
                <h4>Year of Release : {{ record.year }}</h4>
                <h4>Critics Rating : {{ record.criticsRating }}</h4>
                <h4>User's Rating : {{record.userRating}}</h4>
                <form method='post' action="{{ url_for('changeIsPublic') }}">
                  <input type = "hidden" name = "movieId" value = {{record.id}}>
                  {% if record.isPublic == 1 %}
                    <label for="isPublic"><h4>Is Visible to Others: </h4></label>
                    <input type='checkbox' name='isPublic' value = {{record.id}} onChange='submit();' checked>
                  {% else %}
                    <label for="isPublic"><h4>Is Visible to Others: </h4></label>
                    <input type='checkbox' name='isPublic' value = {{record.id}} onChange='submit();'>
                  {% endif %}
                </form>
              </div>
              <div class="myflex-child">
                {% if record.isURL ==0 %}
                  <!-- <h4>Movie Image: </h4> -->
                  <!-- <img src="{{url_for('static', filename='{{record.imageURL}}' ) }}" alt={{record.title}} style="height: 200px; width: 300px"> -->
                  <img src="../static/images/{{record.imageURL}}" alt={{record.title}} style="height: 200px; width: 300px">
                {% else %}
                  <!-- <h4>Movie Image: </h4> -->
                  <img src='{{record.imageURL}}' alt={{record.title}} style="height: 200px; width: 300px">
                {% endif %}
                </div>
          </div>
          <div style="text-align: right;">
            <a href="{{ url_for('recommendMovie', id=record.id) }}"><button>Recommended to a friend</button></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% else %}
    <h5>No movies watched yet</h5>
{% endif %}


{% if (session.email)%}
  {% if (session.email != email)%}
    {% if isFriend == True %}
      <h3>Movie Recommended by {{name}}</h3>
        {% if movies_recommended|length > 0 %}
            {% for record in movies_recommended %}
            <div class="movie">
              <div class="flash myflex-container">
                  <div class="myflex-child">
                    <h4>Movie Name : {{ record.title }}</h4>
                    <h4>Year of Release : {{ record.year }}</h4>
                    <h4>Critics Rating : {{ record.criticsRating }}</h4>
                    <h4>User's Rating : {{record.userRating}}</h4>
                  </div>
                  <div class="myflex-child">
                    {% if record.isURL ==0 %}
                      <!-- <h4>Movie Image: </h4> -->
                      <!-- <img src="{{url_for('static', filename='{{record.imageURL}}' ) }}" alt={{record.title}} style="height: 200px; width: 300px"> -->
                      <img src="../static/images/{{record.imageURL}}" alt={{record.title}} style="height: 200px; width: 300px">
                    {% else %}
                      <!-- <h4>Movie Image: </h4> -->
                      <img src='{{record.imageURL}}' alt={{record.title}} style="height: 200px; width: 300px">
                    {% endif %}
                    </div>
              </div>
            </div>
            {% endfor %}
        {% else %}

            <p>No movies recommended yet</p>
        {% endif %}
        <form action="{{ url_for('deleteFriend') }}" method="post">
            <input type="hidden" value="{{email}}" name="email">
            <input type="submit" value="Un-Friend">
        </form>
    {% else %}
        <form action="{{ url_for('addFriend') }}" method="post">
            <input type="hidden" value="{{email}}" name="email">
            <input type="submit" value="Add Friend">
        </form>
    {% endif %}
  {% else %}
  <div>
    <h3>Your Preferences are:</h3>
    <p style="text-align:right"><a href ="{{url_for('choosePreference')}}"><button>Edit Preferences</button></a></p>
  </div>

    {% for key, value in preferences.items() %}
    <div class="panel-group" id="accordion" style="margin-top: 30px">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 60px;  text-align: left;">
          <h2 class="panel-title" >
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{key}}" style="font-size: x-large;">
            {{key}}</a>
          </h2>
        </div>
        <div class="panel-collapse collapse" id="collapse{{key}}">
          <div class="panel-body">
            {% for item in value %}
              <div class="panel panel-default">
                <div class="panel-body">{{item}}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


  {% endif %}
{% endif %}
</div>
</div>
  {% endblock %}