
{% extends "layout.html" %}
{% block body %}
<div style="background-image: url('../static/images/seats.jpg'); background-repeat: repeat;background-size: 1000px 800px;">
    <br><br><br><br><br>
<div class="page" style="opacity: 0.9; background-color: black; border: 5px solid #ffcccc;">
  <h1>Search Movie</h1>
    <br><br>
	<form action="{{ url_for('searchMovie') }}" method="post" id="prefForm">
            <label><h2 style="color: #ffcccc; border-bottom: none;">Enter the Movie Name: </h2></label>
            <input type="text" name="title" style="background-color: black; color: white; border: 1px solid white;font-size: 20px;margin-left: 15px;">
            <br><br>
            <label><h2 style="color: #ffcccc; border-bottom: none;">Year of Release:</h2></label>
            <input type="number" name="year" style="background-color: black; color: white; border: 1px solid white;font-size: 20px; margin-left: 15px;">
            {% include "2table.html" %}

            <button type="button" onclick="formF()" style="background-color: black; color: white; border: 1px solid white;">Submit</button>
	</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
    {% endblock %}

